body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    background-color: #333;
}

header nav ul li {
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    background-color: #555;
}

.mesas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.mesa {
    width: 150px;
    height: 150px;
    background-color: green;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    position: relative;
}

.mesa.ocupada {
    background-color: red;
}

.mesa.reservada {
    background-color: gray;
}

.mesa:hover {
    cursor: pointer;
}

.menu-desplegable {
    display: none;
    position: absolute;
    top: 160px; /* Adjust to position the menu below the mesa */
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
}

.menu-desplegable a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px 12px;
}

.menu-desplegable a:hover {
    background-color: #ddd;
}
