{% extends 'base.html' %}

{% block content %}
<h1>Mesas del Restaurante</h1>
<title>Mesas del Restaurante</title>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f5;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        color: #333;
        margin-bottom: 20px;
    }

    .mesas {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .mesa {
        width: 150px;
        height: 150px;
        background-color: green;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        position: relative;
    }

    .mesa.ocupada {
        background-color: red;
    }

    .mesa.reservada {
        background-color: grey;
    }

    .menu-desplegable {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
    }

    .mesa:hover .menu-desplegable {
        display: block;
    }

    .menu-desplegable a {
        display: block;
        margin-bottom: 5px;
        color: #333;
        text-decoration: none;
    }

    .menu-desplegable a:hover {
        color: #007bff;
    }
</style>
<div class="mesas">
    {% for mesa in mesas %}
    <div class="mesa 
    {% if mesa.estado == 'ocupada' %}
        ocupada
    {% elif mesa.estado == 'reservada' %}
        reservada
    {% else %}
        disponible
    {% endif %}">
        Mesa {{ mesa.numero_mesa }}<br>Estado: {{ mesa.estado }}<br>Capacidad: {{ mesa.capacidad }}
        <div class="menu-desplegable">
            <a href="{% url 'editar_mesa' mesa.id %}">Cambiar estado</a>
            <a href="{% url 'crear_reserva' mesa.id %}">Crear reserva</a>
            <a href="{% url 'crear_pedido' mesa.id %}">Crear pedido</a>
        </div>
    </div>
    {% endfor %}
</div>
{% if caja_abierta %}
<a href="{% url 'consulta_caja' caja_abierta.id %}">Consulta de Caja</a>
{% else %}
<a href="{% url 'apertura_caja' %}">Abrir Caja</a>
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/mesas.js' %}"></script>
{% endblock %}
