{% extends 'base.html' %}

{% block content %}
<h1>Consulta de Caja</h1>
<h3>Caja abierta por: {{ caja.usuario.username }}</h3>
<p>Apertura: {{ caja.apertura }}</p>
{% if caja.cierre %}
    <p>Cierre: {{ caja.cierre }}</p>
{% endif %}

<h4>Transacciones:</h4>
<ul>
    {% for transaccion in transacciones %}
        <li>{{ transaccion.tipo }} - ${{ transaccion.monto }} - {{ transaccion.descripcion }} ({{ transaccion.fecha }})</li>
    {% endfor %}
</ul>

<h4>Total Ingresado: ${{ monto_total }}</h4>
<h4>Pagos:</h4>
<ul>
    {% for pago in pagos %}
        <li>Pago de Pedido ID {{ pago.pedido.id }} - Monto: ${{ pago.monto }} - Método: {{ pago.metodo_pago }}</li>
    {% endfor %}
</ul>
{% endblock %}
