{% extends 'base.html' %}

{% block content %}
<style>
    .form-container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #f7f9fc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    .detalle-pedido {
        margin-bottom: 15px;
        padding: 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .detalle-pedido p {
        margin-bottom: 10px;
    }

    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 20px;
    }

    .btn-primary:hover {
        background-color: #2980b9;
    }
</style>

<h1>Crear Pedido para la Mesa {{ mesa.numero_mesa }}</h1>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ pedido_form.as_p }}
        <h3>Seleccionar Platos:</h3>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="detalle-pedido">
                {{ form.as_p }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Crear Pedido</button>
    </form>
</div>
{% endblock %}
