{% extends 'base.html' %}

{% block content %}
<h1>Modificar Pedido #{{ pedido.id }} para la Mesa {{ pedido.mesa.numero_mesa }}</h1>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ pedido_form.as_p }}
        <h3>Modificar Platos:</h3>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="detalle-pedido">
                {{ form.as_p }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
