{% extends 'base.html' %}

{% block content %}
<h1>Editar Proveedor</h1>
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }
    
    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 30px;
    }
    
    form p {
        margin-bottom: 15px;
    }
    
    input[type="text"], input[type="email"], input[type="number"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        color: #333;
        box-sizing: border-box;
    }
    
    button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        margin-top: 20px;
    }
    
    button:hover {
        background-color: #218838;
    }
</style>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <p>
            {{ form.codigo.label_tag }}<br>
            {{ form.codigo }}
        </p>
        <p>
            {{ form.nombre.label_tag }}<br>
            {{ form.nombre }}
        </p>
        <p>
            {{ form.cuit.label_tag }}<br>
            {{ form.cuit }}
        </p>
        <p>
            {{ form.cbu.label_tag }}<br>
            {{ form.cbu }}
        </p>
        <p>
            {{ form.alias_cbu.label_tag }}<br>
            {{ form.alias_cbu }}
        </p>
        <p>
            {{ form.calle.label_tag }}<br>
            {{ form.calle }}
        </p>
        <p>
            {{ form.numero.label_tag }}<br>
            {{ form.numero }}
        </p>
        <p>
            {{ form.localidad.label_tag }}<br>
            {{ form.localidad }}
        </p>
        <p>
            {{ form.pais.label_tag }}<br>
            {{ form.pais }}
        </p>
        <p>
            {{ form.codigo_postal.label_tag }}<br>
            {{ form.codigo_postal }}
        </p>
        <p>
            {{ form.telefono.label_tag }}<br>
            {{ form.telefono }}
        </p>
        <p>
            {{ form.email.label_tag }}<br>
            {{ form.email }}
        </p>
        <p>
            {{ form.plazo_pago.label_tag }}<br>
            {{ form.plazo_pago }}
        </p>
        <p>
            {{ form.observaciones.label_tag }}<br>
            {{ form.observaciones }}
        </p>
        <button type="submit">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
