{% extends 'restaurant/base.html' %}

{% block content %}
<div class="compras-container">
    <h1>Compras</h1>
    <a href="{% url 'crear_compra' %}" class="btn btn-primary">Registrar Nueva Compra</a>
    <ul class="compras-list">
        {% for compra in compras %}
        <li class="compra-item">
            <span>{{ compra.proveedor }}</span>
            <span>{{ compra.fecha_compra }}</span>
            <span>${{ compra.total }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
