{% extends 'restaurant/base.html' %}

{% block content %}
<style>
    .inventario-form-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.inventario-form-container h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.inventario-form p {
    margin-bottom: 15px;
    font-weight: bold;
}

.inventario-form input[type="text"],
.inventario-form input[type="number"],
.inventario-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.inventario-form button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.inventario-form button[type="submit"]:hover {
    background-color: #218838;
}

</style>
<div class="inventario-form-container">
    <h1>Editar Producto del Inventario</h1>
    <form method="post" class="inventario-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>
    </form>
</div>
{% endblock %}
