{% extends 'base.html' %}

{% block content %}
<h1>Estadísticas Generales del Restaurante</h1>

<h2>Estadísticas Globales</h2>
<table class="table table-bordered">
    <tr>
        <th>Ingresos Totales</th>
        <td>${{ ingresos_totales }}</td>
    </tr>
    <tr>
        <th>Total Pedidos</th>
        <td>{{ pedidos_totales }}</td>
    </tr>
    <tr>
        <th>Egresos Totales</th>
        <td>${{ egresos_totales }}</td>
    </tr>
</table>

<h2>Platos más Vendidos</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Plato</th>
            <th>Cantidad Vendida</th>
        </tr>
    </thead>
    <tbody>
        {% for plato in platos_mas_vendidos %}
        <tr>
            <td>{{ plato.nombre_plato }}</td>
            <td>{{ plato.total_vendido }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Detalles por Caja y Usuario</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Apertura Caja</th>
            <th>Cierre Caja</th>
            <th>Total Ingresos</th>
            <th>Total Egresos</th>
            <th>Saldo Final</th>
            <th>Total Pedidos</th>
            <th>Monto Total de Pedidos</th>
            <th>Promedio por Pedido</th>
            <th>Duración de la Caja</th>
        </tr>
    </thead>
    <tbody>
        {% for reporte in reportes %}
        <tr>
            <td>{{ reporte.usuario.username }}</td>
            <td>{{ reporte.caja.apertura }}</td>
            <td>{{ reporte.caja.cierre }}</td>
            <td>${{ reporte.total_ingresos }}</td>
            <td>${{ reporte.total_egresos }}</td>
            <td>${{ reporte.saldo_final }}</td>
            <td>{{ reporte.total_pedidos }}</td>
            <td>${{ reporte.total_pedidos_monto }}</td>
            <td>${{ reporte.promedio_pedido }}</td>
            <td>{{ reporte.duracion_caja }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
