{% extends 'base.html' %}

{% block content %}
<h1>Reporte para {{ usuario.username }}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Caja ID</th>
            <th>Apertura</th>
            <th>Cierre</th>
            <th>Total Ingresos</th>
            <th>Total Pedidos</th>
        </tr>
    </thead>
    <tbody>
        {% for caja in cajas %}
        <tr>
            <td>{{ caja.id }}</td>
            <td>{{ caja.apertura }}</td>
            <td>{{ caja.cierre }}</td>
            <td>{{ total_ingresos }}</td>
            <td>{{ total_pedidos }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
