{% extends "restaurant/base.html" %}

{% block content %}
<div class="container">
    <h1>Cerrar Caja</h1>
    <p>Esta caja fue abierta con un total inicial de {{ caja.total_inicial }}.</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="total_final" class="form-label">Total Final:</label>
            <input type="number" name="total_final" step="0.01" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Cerrar Caja</button>
    </form>
</div>
{% endblock %}
